body {
    background-color: black;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    color: aliceblue;
}

img.moviescreen {
    width: 75vw;
    height: 35vw;
    display: block;
    margin: 0 auto;
}

.left-choice-button {
    border-radius: 20px;
    position: relative;
    top: 2vw;
    left: 15vw;
    background-color: red;
    color: black;
    border: none;
    width:16vw;
    height:8vw;
}

.middle-choice-button {
    border-radius: 20px;
    position: relative;
    top: 2vw;
    left: 25vw;
    background-color: red;
    color: black;
    border: none;
    width:16vw;
    height:8vw;
}

.right-choice-button {
    border-radius: 20px;
    position: relative;
    top: 2vw;
    left: 35vw;
    background-color: red;
    color: black;
    border: none;
    width:16vw;
    height:8vw;
}

.video {
    position: absolute;
    left: 20vw;
    top: 8vw;
    width: 60vw;
    height: 22vw;
    border-radius: 1vw;
}