h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
}

img.moviescreen {
    max-width: 100%;
    height: 40em;
    display: block;
    margin: 0 auto;
}

.red-button {
    background-color: red;
    color: black;
    border: none;
}
